{% extends "base2.html" %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-10">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <h2>การบริจาคของฉัน</h2>

    </div>
    <div class="row">

        <table class="table">
            <thead>
                <tr>

                    <th scope="col">ลำดับ</th>
                    <th scope="col">วันที่ลงทะเบียน</th>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">ประเภท</th>
                    <th scope="col">สภาพ</th>
                    <th scope="col">จำนวน</th>

                    <th scope="col">สถานะ</th>
                    <th scope="col">ให้โครงการ</th>
                    <th scope="col">รูปภาพ</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                {% for donation in mydonation %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{donation.date}}</td>
                    <td>{{donation.name}}</td>
                    <td>{{donation.dtype.name}}</td>
                    <td>{{donation.get_condition_display}}</td>
                    <td>{{donation.quantity}}</td>
                    <td>{{donation.get_status_display}}</td>
                    {% if donation.project %}
                    <td>{{donation.project.name}}</td>
                    <td>
                        <a href="{%url 'project_view' project_id=donation.project.id %}">
                            <div class="btn btn-success" id="">ดูโครงการ</div>
                        </a>
                    </td>
                    {% else %}
                    <td><i class="material-icons" style="font-size:30px;color:red">cancel</i></td>
                    <td>
                        <a href="{% url 'project_select' donation.id %}">
                            <div class="btn btn-danger" id="">บริจาคเลย</div>
                        </a>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'tracking' donation.id %}">
                            <div class="btn btn-warning" id="">ติดตาม</div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}