{% extends "base3.html" %}

{% block content %}
{% load static %}

<div class="card text-center">
  <div class="card-header">
    Complete
  </div>
  <div class="card-body">
    <h5 class="card-title">Name : {{ name }}</h5>
    <p class="card-text">Reciever : {{ Reciever}} Address : {{ address }}</p>
    
    <br>
    <a href="">
    <div class="card-image">
      <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ address}}&amp;size=100x100" alt="" title="" />
    </div>
    </a>
    
  
  </div>
  <div class="card-footer text-muted">

    status : Pending
  </div>
</div>

{% endblock content %}