*.code-workspace
.env
venv
*.pyc
staticfiles
.DB_Store
/env
*.log
*.pot
*.pyc
__pycache__/
/__pycache__
local_settings.py
db.sqlite3
venv/
map-tracker1/

*.pyc
*.pyc
IODT/attendance/__pycache__/urls.cpython-38.pyc
