{% extends "base2.html" %}
{% load static %}
{% block content %}

    <br><br>
    <div class="container">
        <div class="row">

            <div class="col">

                <form method="post" id="image-form">
                    
                    <input type="file" name="img[]" class="file" accept="image/*">
                    <!-- <input type="text" class="form-control" disabled placeholder="Upload File" id="file">-->
                    <img src="https://www.claremontmedicalpractice.co.uk/themes/custom/claremont/images/galleryicon.png"
                        id="preview" class="browse" width="370px">
                        <br><br>
                    <button type="button" class="btn btn-primary browse" style="width: 370px;" name="picture">choose image</button>
                    <br><br>
                </form>
            </div>

            <div class="col">

                <h5 class="card-title font-weight-bold">ต้องการเสื้อ (ใหม่/เก่า)</h5>

                <p class="card-text">By : <a href="#">มูลนิธิ KMITL foundation</a><br>
                    จำนวน : 40 ตัว | ขั้นต่ำ : 2 ตัว<br>
                    ส่งผ่าน : ช่องทางขนส่งทั่วไป</p>

                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">ชื่อสิ่งของที่บริจาค</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="name">
                        <label for="formGroupExampleInput">จำนวน</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <label for="formGroupExampleInput">สภาพ</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>ใหม่</option>
                            <option>เก่า</option>
                        </select>
                        <br>
                        <label for="exampleTextarea">ส่งถึง : <a href="#">KMITL foundation</a></label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="reciever" placeholder="ระบุผู้รับ">
                    </br>
                        <textarea class="form-control" id="exampleTextarea"
                            rows="2" name="address" placeholder="ที่อยู่ผู้รับ"></textarea>
                        <br>
                        <label for="exampleTextarea">ผู้ส่ง : <a href="#">61070219</a>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1" checked> ระบุ
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2"> ไม่ระบุ
                                </label>
                            </div>

                    </div>
                    </label>
                    <textarea class="form-control" id="exampleTextarea"
                        rows="2">300/67 รุ่งอรุณ1  ฉลองกรุงซอย2 ถนนฉลองกรุงแขวงลำปลาทิว เขตลาดกระบัง กทม10520</textarea>
                    <br>
                    <label for="exampleTextarea">ข้อความจากผู้ส่ง</a></label>
                    <textarea class="form-control" id="exampleTextarea" rows="2">enjoy your gift :)</textarea>
                    <br>
                    <button type="summit" class="btn btn-primary btn-lg btn-block">submit</button>

                </form>

            </div>



        </div>


    </div>

    </div>
    </div>

    {% endblock content %}