{% extends "base2.html" %}
{% block content %}

<h2>Register Step 2</h2>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col">
            <label>First Name:</label><br>
            <input type="text" name="first_name" class="form-control" autofocus="" required="" id="first_name">
        </div>
         <div class="form-group col">
            <label>Last Name:</label><br>
            <input type="text" name="last_name" class="form-control" autofocus="" required="" id="last_name">
        </div>
        <div class="form-group col">
            <div class="row">
                <div class="col">
                    <label>Sex:</label><br>
                    <select class="form-control" onchange="change_sex()" id="sex">
                        <option>Male</option>
                        <option>Female</option>
                        <option>other</option>
                    </select>
                </div>
                <div class="col">
                    <label>&nbsp;</label><br>
                    <input type="text" name="last_name" class="form-control" autofocus="" required="" id="sex_other" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Address:</label><br>
        <textarea class="form-control" id="address" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-success mb-5">Next</button>
</form>

<script>
    function change_sex() {
        var sex = document.getElementById('sex').value;
        if (sex == 'other') 
            document.getElementById('sex_other').disabled = false;
        else
            document.getElementById('sex_other').disabled = true;
    }

</script>

{% endblock %}

{% comment %} {% block footer %}
    Footer of index page!!!
{% endblock %} {% endcomment %}
