{% extends "base3.html" %}
{% block content %}

<h2>Register Step 1</h2>
{% comment %} <button type="button" class="btn btn-success" onclick="fill()">Fill</button> {% endcomment %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}

        {% if field.name in list_open_row %} {% comment %} list เปิด tag row {% endcomment %}
            <div class="row">
        {% endif %}

        {% if field.name in list %} {% comment %} list ที่จะใส่จะใส่ col (แถวเดียวกัน) {% endcomment %}
            <div class="form-group col">
        {% else %}
            <div class="form-group">
        {% endif %}

        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}

        {% if field.name in list_close_row %} {% comment %} list ที่จะใส่จะปิด row {% endcomment %}
            </div>
        {% endif %}

        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success mb-5">Next</button>
</form>

<script>

    function fill () {
        // document.getElementById('id_username').value = 'ongsuwannoo'
        // document.getElementById('id_password1').value = 'ABCD_123456789'
        // document.getElementById('id_password2').value = 'ABCD_123456789'
        // document.getElementById('id_first_name').value = 'First'
        // document.getElementById('id_last_name').value = 'Last'
        // document.getElementById('id_address').value = 'Address'
        // document.getElementById('id_email').value = 'admin@admin.com'
        // document.getElementById('id_phone').value = '0824200568'
    }
</script>

{% endblock %}

{% comment %} {% block footer %}
    Footer of index page!!!
{% endblock %} {% endcomment %}
