{% extends "base3.html" %}
{% block content %}
<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>
<h2>Register Step 1</h2>
{% comment %} <button type="button" class="btn btn-success" onclick="fill()">Fill</button> {% endcomment %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}

    {% if field.name in list_open_row %} {% comment %} list เปิด tag row {% endcomment %}
    <div class="row">
        {% endif %}

        {% if field.name in list %} {% comment %} list ที่จะใส่จะใส่ col (แถวเดียวกัน) {% endcomment %}
        <div class="form-group col">
            {% else %}
            <div class="form-group">
                {% endif %}

                {{ field.label_tag }}<br>
                {{ field }}

                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}

                {% if field.name in list_close_row %} {% comment %} list ที่จะใส่จะปิด row {% endcomment %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <img src="" class="m-3 d-block img-responsive" style="max-height: 150px; max-width: 150px;" id="preview2">
        <button type="submit" class="btn btn-success mb-5">Next</button>
</form>

<script>

    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $("#file").val(fileName);

        var reader = new FileReader();
        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("preview2").src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    });

    function fill() {
        // document.getElementById('id_username').value = 'ongsuwannoo'
        // document.getElementById('id_password1').value = 'ABCD_123456789'
        // document.getElementById('id_password2').value = 'ABCD_123456789'
        // document.getElementById('id_first_name').value = 'First'
        // document.getElementById('id_last_name').value = 'Last'
        // document.getElementById('id_address').value = 'Address'
        // document.getElementById('id_email').value = 'admin@admin.com'
        // document.getElementById('id_phone').value = '0824200568'
    }
</script>

{% endblock %}

{% comment %} {% block footer %}
Footer of index page!!!
{% endblock %} {% endcomment %}