<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <div id="registor_recipient_form" class="modal fade">
        <div class="modal-dialog modal-login">
          <div class="modal-content" style="width:500px;">
            <div class="modal-header">
              <h4 class="modal-title">Who?</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <form action="/examples/actions/confirmation.php" method="post">
  
                <a href="#recipient_person_form" class="" data-toggle="modal" data-dismiss="modal" value="Registor">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="https://image.flaticon.com/icons/svg/2518/2518949.svg" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">person</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
  
                <a href="#recipient_organization_form" class="" data-toggle="modal" data-dismiss="modal" value="Registor">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShCCQ5yK88cgQWZxwAcVpcX83BdPWTxIy-_NBxe1ZDX-rQIltv&usqp=CAU"
                          class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Organization or Foundation</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
  
  
  
  
  
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
</form>